# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Hades2.iml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
bin/
obj/
*.user
*.suo
*.cache
*.log
*.pdb
*.rsuser
*.sln.docstates
*.sln.ide
*.sln.docstates
*.sln.ide
*.VSCode
.vscode/
.vscode/
.vscode/
